@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: "Protest Riot", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background: url("./assets/bg1.webp");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.card {
  width: 200px;
  height: 280px;
  perspective: 1000px;
  cursor: pointer;
}

.card-inner {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}

.card-front {
  background: white;
  border: 1px solid #e5e7eb;
}

.card-back {
  background: #5bc0eb; /* Light Blue */
  color: white;
  transform: rotateY(180deg);
}
.card-container {
  display: flex;
  justify-content: space-between;
  gap: 0.2rem;
}
.card-back ul {
  list-style-type: none; /* Remove default list bullets */
  padding: 0;
  margin: 0;
}

.card-back li {
  margin-bottom: 0.5rem; /* Space between items */
}
/* Default text styles */
.text-2xl {
  font-size: 1.5rem; /* 24px */
}

.text-3xl {
  font-size: 1.875rem; /* 30px */
}

.text-sm {
  font-size: 0.875rem; /* 14px */
}

/* Mobile-specific styles */
@media (max-width: 768px) {
  .card {
    width: 120px; /* Smaller width for mobile */
    height: 160px; /* Smaller height for mobile */
  }

  /* Adjust card text size for mobile */
  .card-front,
  .card-back {
    font-size: 0.7rem; /* Smaller font size for mobile */
    padding: 0.5rem; /* Add padding to prevent text overflow */
  }

  /* Adjust card back list items */
  .card-back li {
    font-size: 0.6rem; /* Even smaller font size for card back */
    margin-bottom: 0.3rem; /* Reduce space between list items */
  }
  /* Smaller text for mobile */
  .text-2xl {
    font-size: 1rem; /* 16px */
  }

  .text-3xl {
    font-size: 1.25rem; /* 20px */
  }

  .text-sm {
    font-size: 0.75rem; /* 12px */
  }
}
